@import "base";

// spacing margin or padding
$base-gap: 1rem;

// font size
$base-font: 1rem;

//container size
$base-width: 10rem;

// color
$primary-color: #F64767;
$white: #ffffff;
$dark: #000000;
$light-gray: rgb(200, 200, 200);

// screen size
$xl: 1280px;
$md: 770px;
$xs: 375px;