@import "../../assets/scss/variable";

.footer{
  margin-top: 30px;
  background-color: $dark;
  color: $white;
  font-size: 15px;

  &__content{
    padding: 5rem 9rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .wear{
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
}